

#game-canvas {
    border: 5px solid rgba(255, 183, 0, 0.879);
    background-image: url('https://github.com/cyss0317/Javascript-Project/blob/main/img/Main-map.png?raw=true');
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%);
    /* width: 450px;
    height: 550px; */
}

.radio-buttons {
    display: flex;
    height: 180px;
    justify-content: center;
    align-items: center;
}

#easy {
    width: 100px;
    height: 60px;
    border: 5px solid rgb(247, 170, 3);
    margin: 5px;
}

#medium {
    width: 100px;
    height: 60px;
    border: 5px solid rgb(247, 170, 3);
    margin: 5px;
}
#hard {
    width: 100px;
    height: 60px;
    border: 5px solid rgb(247, 170, 3);
    margin: 5px;
}


body {
    background-image: url('https://github.com/cyss0317/Javascript-Project/blob/main/img/Background.png?raw=true');

    /* background-image: url(/img/Chicken_right_move.png); */
    
}