

#game-canvas {
    border: 5px solid rgba(255, 183, 0, 0.879);
    background-image: url('/img/Main-map.png');
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%);
    /* width: 450px;
    height: 550px; */
}
/* 
#wolf-right {
    width: 50px;s
    height: 50px;d
    animation: block is infinite linear;
} */


body {
    background-image: url('/img/Background.png');

    /* background-image: url(/img/Chicken_right_move.png); */
    
}