* {
        border-radius: 8px;
        margin: 0;
        padding: 0;
        font-family: 'Indie Flower', cursive;
}

.game-canvas{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column-reverse;
    align-items: center;
}

#game-canvas {
    border: 5px solid rgba(255, 183, 0, 0.879);
    background-image: url('https://github.com/cyss0317/Javascript-Project/blob/main/img/Main-map.png?raw=true');
 
    /* position: absolute;
    float: top;
    top: 50%;
    left: 50%; */
    /* transform:  translate(-50%, -50%); */
    /* width: 450px;
    height: 550px; */
}

.radio-buttons {
    /* position: absolute; */
/* 
    display: flex;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center; */
    align-items: center;
}

/* #choose-diff {
    position: relative;
    top: 10px;

} */

#easy, #medium, #hard {
    width: 100px;
    height: 60px;
    border: 5px solid rgb(247, 170, 3);
    border-radius: 8px;
    margin: 5px;
    font-size: 30px;
    font-weight: bold;
}


#choose-diff {
    
}

body {
    background-image: url('https://github.com/cyss0317/Javascript-Project/blob/main/img/Background.png?raw=true');
     font-family: 'Indie Flower', cursive;
    /* background-image: url(/img/Chicken_right_move.png); */
    
}

.story-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
}

.direction {
        /* margin-top: 50%;
        margin-left: 50px; */
    /* min-width: 50px; */
    display: flex;



    background-color: rgba(200, 206, 192, 0.836);
    border: 2px solid rgb(247, 170, 3);
    text-align: center;
}
#direction1, #difficulty1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 30px
}
#choose-diff{
    padding-bottom:20px
}

#direction-head{
    padding-bottom: 10px
}

.direction  {
    display: flex;
    flex-direction: column;
    font-size: 30px;

    /* margin-top: 20px; */
    padding: 20px 10px 10px 10px;
    
}
.direction-container{
    width: 30%;
}
.story {
    width: 30%;
}

.direction {
    /* height: 650px; */
    margin-left: 50px;
    display: flex;
    justify-content: space-around;
}


#choose-diff, #direction-head {
    font-size: 45px;
    text-decoration: underline;
}

.keyboard  {
    text-align: center;
}

.keyboard > p {
    margin: 15px;
}

.story{


    margin-right: 50px;
    background-color: rgba(200, 206, 192, 0.836);
    border: 2px solid rgb(247, 170, 3);
    text-align: center;
    display: flex;
    flex-direction: column;

    justify-content: center;
}

#story-head {
    margin-top: 8%;
    font-size: 45px;
    text-decoration: underline;
}



#story-content {

    font-size: 3vh;
    padding: 20px;
}

.navbars {
    width: 88%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
}

.navbars ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 20px;
}

.navbars ul li a {
    text-decoration: none;
    color: black;
}

footer {
    position: fixed;
    margin-left: 81%;
    font-size: 30px;
    bottom: 2%;
}